@inherits LayoutComponentBase

<PageTitle>Bramki - Ewakuacja</PageTitle>

<div class="layout">
    <header class="appbar">
        <div class="brand">
            <img src="icons/evac.png" class="brand-icon" alt="Evac" />
            <span>Bramki – Ewakuacja</span>
        </div>
    </header>

    <main class="main">
        @Body
    </main>
</div>